#Будут игнорироваться все файлs Thumbs.db
#независимо от того в каком каталоге они находятся
Thumbs.db
.DS_Store

#Будет игнорироваться каталог tmp
#слеш в конце означает каталог
#вне зависимосте где будет эта папка
tmp/

#Будут игнорироваться все файлы и папки с расширение .txt
#вне зависимости в каком каталоге они находятся
*_old
*_backup
